<h1>Users...</h1>
<div class="span3">
  <table class='table table-striped'>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
    {{#each controller}}
  		<tr>
  			<td>{{id}}</td>
  			<td>{{fullName}}</td>
			</tr>
		{{/each}}
  </table>
</div>

<div class="span9">
	{{outlet}}
</div>

